<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=""
    <style>
        .swaper1 {
            align-items: center;
            width: 90%;
            height: auto;
            justify-content: center;
            margin-top: -3%;
        }

        .swaper {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            margin-left: 3%;
        }

        header {
            width: 100%;
            height: auto;
            background-color: antiquewhite;
        }

        .headertitle {
            width: 100%;
            height: 100%;
            margin-top: -3.5%;
        }

        .txttitle {
            font-style: normal;
            font-size: 18px;
            font-weight: bold;
            color: Black;
            text-align: center;
        }

        .img {
            width: 100%;
            height: auto;
        }

        h3 {
            font-style: normal;
            font-size: 30px;
            font-weight: bold;
            word-wrap: break-word;
        }

        .img1 {
            max-width: 80%;
            width: 33%;
            float: left;
            height: auto;
            margin-left: -4%;
        }

        footer {
            margin-top: 1%;
            width: 100%;
            height: auto;
        }

        .hocvan {
            width: 65%;
            height: auto;
            float: right;
            align-items: center;

        }

        .hocvan1 {
            width: 100%;
            height: auto;
            float: right;

        }

        .txthocvan {
            text-align: center;
            background-color: antiquewhite;
            word-wrap: break-word;
        }

        .txtlienhe {
            text-align: center;
            background-color: antiquewhite;
            word-wrap: break-word;
            margin-top: -3.5%
        }

        h4 {
            font-style: normal;
            font-size: 20px;
            font-weight: bold;
            word-wrap: break-word;
        }

        .xuonghang {
            word-wrap: break-word;
        }

        .icon {
            width: 15px;
            height: 15px;
        }

        .viewbentrai {
            width: 50%;
            float: left;
        }

        .viewbenphai {
            width: 50%;
            float: right;
        }

        @media screen and (max-width: 700px) {
            .swaper1 {
                max-width: 100%;
                padding: 10px;
            }

            .viewbentrai {
                width: 100%;

            }

            .viewbenphai {
                width: 100%;

            }

            .img1 {
                max-width: 100%;
                width: 100%;
            }

            .hocvan {
                max-width: 100%;
                width: 100%;
                margin-right: 4%;
            }

        }

        @media screen and (max-width: 800px) and (min-width: 701px) {
            .swaper1 {
                max-width: 100%;
                padding: 10px;
            }

            .viewbentrai {
                width: 100%;

            }

            .viewbenphai {
                width: 100%;

            }

            .img1 {
                max-width: 100%;
                width: 100%;
            }

            .hocvan {
                max-width: 100%;
                width: 100%;
                margin-right: 4%;
            }

        }
    </style>
</head>

<body class="swaper1">

    <div class="swaper">
        <footer>
            <div class="img1">
                <img class="img"
                    src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2Fadd.jpg?alt=media&token=af9978f9-6d82-4418-8984-d1c72376f3e9&_gl=1*8337by*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjQ4MjM4Ny4xNS4xLjE2OTY0ODI0MDkuMzguMC4w" />
                <header>
                    <div class="headertitle">
                        <p class="txttitle">NGUYỄN HỮU DŨNG</p>
                        <h4 style="text-align: center;">Intern Mobile Developer</h4>
                    </div>
                </header>
                <h2 class="txtlienhe">Thông tin liên hệ</h2>
                <p class="xuonghang">- <img class="icon"
                        src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2Fkisspng-hardcover-calendar-photo-book-computer-icons-calendar-icon-5ac1ec9423c239.0446656115226584521465.jpg?alt=media&token=cd598101-f3b3-480d-8f38-9784fb7f8fa2&_gl=1*1qcqq8m*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjA3NjkzOC4xMy4xLjE2OTYwNzY5NTYuNDIuMC4w" />
                    01/04/2001</p>
                <p class="xuonghang">- <img class="icon"
                        src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2F156-1568270_blue-phone-icon-png-clipart-png-download-transparent.png?alt=media&token=8bdd7325-2522-416f-9aab-8d2919a9c8cd&_gl=1*1s9zw2h*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjA3NjkzOC4xMy4xLjE2OTYwNzc4NjAuMzQuMC4w" />
                    0911559270</p>
                <p class="xuonghang">
                    <h7>
                        - <img class="icon"
                            src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2Fgoogle-mail-icon-logo-isolated-on-transparent-background-free-vector.jpg?alt=media&token=dc14e245-c918-4e36-9c07-227129a109a8&_gl=1*11mtzjx*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjA3NjkzOC4xMy4xLjE2OTYwNzgwMTEuMjguMC4w" />
                        nguyenhuudung312337@gmail .com
                    </h7>
                </p>
                <p class="xuonghang">- <img class="icon"
                        src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2Fistockphoto-1201300857-170667a.jpg?alt=media&token=3c32ad62-a9af-43b2-84a2-b0db830a1997&_gl=1*tlcaih*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjA3NjkzOC4xMy4xLjE2OTYwNzgwNTQuNTMuMC4w" />
                    Phạm Văn Chiêu, Gò Vấp, HCM</p>
                <p class="xuonghang">- <img class="icon"
                        src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2Fmd_5aeedf03a7b81.jpg?alt=media&token=0b351e84-9519-4992-9dc0-aa5070f23014&_gl=1*1f9g3sa*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjA3NjkzOC4xMy4xLjE2OTYwNzgyNjEuMjUuMC4w" />
                    <a href="https://www.facebook.com/nguyen.huudung.5059601/">facebook.com/dungcoder.id.vn/</a>
                </p>
                <p class="xuonghang">- <img class="icon"
                        src="https://firebasestorage.googleapis.com/v0/b/shopbanhang-f7094.appspot.com/o/SanPham%2F11f2fd963a2028fa67ce38ffe0e92bc5.png?alt=media&token=00f5a978-e961-4cb0-9d80-109427513cde&_gl=1*5g9cev*_ga*MTYyNDkwMzg4OS4xNjk0NDgzMTE1*_ga_CW55HF8NVT*MTY5NjA3NjkzOC4xMy4xLjE2OTYwNzgzMTIuNTYuMC4w" />
                    <a href="https://www.dungcoder.id.vn/">
                        https://www.dungcoder.id.vn/</a>
                </p>
                <h2 class="txthocvan">Kỹ năng lập trình</h2>
                <h4>Cơ sở dữ liệu.</h4>
                <p>- Firebase, MonggoDB, SqlLite</p>
                <p>-Thành thạo cơ sở dữ liệu NoSQL </p>
                <h4>Ngôn ngữ lập trình.</h4>
                <p>- Java, JavaScript, C#, NodeJS</p>
                <p>- Thành thạo Java và React-native, NodeJS</p>
                <h4>Kĩ thuật lập trình.</h4>
                <p>- Java_Firebas, ReactNative_MonggoDB, C#_Unity, Github</p>
                <h2 class="txthocvan">Kỹ năng khác</h2>
                <p>- Đã từng học qua photoshop cơ bản</p>
                <p>- Biết edit video ở mức cơ bản </p>
                <p>- Làm được các trang Web cơ bản </p>


            </div>
            <div class="hocvan">
                <div class="hocvan1">
                    <h2 class="txthocvan">Trình độ học vấn</h2>
                    <div class="viewbentrai">
                        <p>Trường Cao Đẳng Thực Hành FPT Polytechnic.</p>
                        <p>Chuyên ngành lập trình mobile.</p>
                    </div>
                    <div class="viewbenphai">
                        <p>Thời gian học: 2021-2024</p>
                        <p>Điểm trung bình: 8.2</p>
                    </div>

                </div>
                <div class="hocvan1">
                    <h2 class="txthocvan">Mục tiêu làm việc</h2>
                    <p>- Trong vòng 3-6 tháng phải đủ trình độ lên mức Fresher.</p>
                    <p>- Sau 2 năm phải lên mức Junior.</p>
                    <p>- Sau 5-7 năm phải đủ kiến thức làm leader.</p>
                </div>
                <div class="hocvan1">
                    <h2 class="txthocvan">Kinh Nghiệm Làm Việc</h2>
                    <h4>Ứng dụng thi đấu bida: Carom.</h4>
                    <P>Dự án có thu phí của khách hàng.</p>
                    <p>Ngôn ngữ lập trình và framework: JavaScript - ReactNative.</p>
                    <p>Thời gian thực hiện: 8/2023 - 10/2023.</p>
                    <p>Ứng dụng được khách hàng triển khai trên các thiết bị androi và tương lai có thể triển khai trên
                        IOS.
                    </p>
                    <p class="xuonghang">Link github: <a
                            href="https://github.com/huydung7a5/Carom">https://github.com/huydung7a5/Carom</a></p>
                    <h4>Ứng dụng quản lí nhà hàng.</h4>
                    <P>Dự án có thu phí của khách hàng.</p>
                    <p>Ngôn ngữ lập trình: Java - Android Studio.</p>
                    <p>Thời gian thực hiện: Tháng 2/2022 (Đã dừng lại theo ý khách hàng)</p>
                    <p class="xuonghang">Link tham khảo: <a
                            href="https://github.com/huydung7a5/Shopbanhang">https://github.com/huydung7a5/Shopbanhang</a>
                    </p>
                    <h4>Ứng dụng tính toán số vietlot.</h4>
                    <P>Dự án cá nhân.</p>
                    <p>Ngôn ngữ lập trình và framework: JavaScript - ReactNative.</p>
                    <p>Thời gian thực hiện: Tháng 10/2022</p>
                    <p class="xuonghang">Link github: <a
                            href="https://github.com/huydung7a5/appsoxo">https://github.com/huydung7a5/appsoxo</a>
                    </p>
                    <h4>Server cá nhân.</h4>
                    <p>Môi trường runtime: NodeJS.</p>
                    <p> Server các nhân mục đích lưu trữ cá nhân và test các app remote. </p>
                    <p>Thời gian thực hiện: 8/2023</p>
                    <p class="xuonghang">Link github: <a
                            href="https://github.com/huydung7a5/Sever">https://github.com/huydung7a5/Sever</a>
                    </p>
                </div>
            </div>


        </footer>

    </div>




</body>

</html>